@model IEnumerable<RecyclU.Models.Usuario>
@{
    ViewData["Title"] = "Empresas";
    Layout = "_Layout";
}
<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>RecyclU</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/RecyclU.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="contenedor">
        <div class="izquierda">
            <form asp-area="" asp-controller="Home" asp-action="Index" method="get" class="d-inline-block ml-3">
                <button type="submit" class="btn btn-primary btn-lg">RECICLAR</button>
            </form>
            <form asp-area="" asp-controller="Empresas" asp-action="InfoGeneral" method="get" class="d-inline-block ml-3">
                <button type="submit" class="btn btn-primary btn-lg">EMPRESAS</button>
            </form>
            <form asp-area="" asp-controller="Universidades" asp-action="InfoGeneral" method="get" class="d-inline-block ml-3">
                <button type="submit" class="btn btn-primary btn-lg">UNIVERSIDADES</button>
            </form>
        </div>
        <div class="derecha">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Logo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Nombre)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @if(item.Logo is null)
                                {
                                    <img src="~/Imagenes/UnknownEmpresa.png" style="width:50px; heigth:50px;">
                                }
                                else
                                {
                                    @Html.DisplayFor(modelItem => item.Logo)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <th></th>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

    </div>
</body>

        <style type="text/css">
            
            body{
                font-family: sans-serif;
                margin: 0;
                padding:0;

                }
            
            .logo{
            
                display: flex;
                align-items: center;
            }

            .logo img{
                height:auto;
                width:auto;

            
            }

            nav{
            display: flex;
            justify-content:space-between;
            align-items: center;
            gap:10px;
            padding-bottom:0;

            
      
            }

            nav button{
            
                padding:12px;
                background: #31A51E;
                color:white;
                font-weight:bold;
                border-radius: 10px;
                border-color: #31A51E;

            }

            .contenedor{
                background: white;
                min-height:90vh;
                margin:0;
                margin-right: 0;
                margin-left: 0;
                display: grid;
                grid-template-columns: 1fr 3.1fr;
                position:relative;
            }

            .contenedor .izquierda{
                margin-top: 30px;
                margin-bottom: 30px;
                margin-left: 0;
                margin-right: 0px;
                border-radius:30px;
                background: #31A51E;
                padding: 15px;
                text-align: center;
                position: center;
                display: flex;
                flex-direction:column;
                flex-wrap: wrap;
                gap: 12px;
                justify-content: center;
                align-items: center;

            }
            
            .contenedor .derecha{
                margin: 30px;
                border-radius: 30px;
                margin-right:0;
                background: rgb(233, 238, 237);
                padding: 15px;
                text-align: center;
                position: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }


            .contenedor .izquierda button {
                padding: 18px;
                background: #31A51E;
                color: white;
                font-weight: bold;
                border:0;
                font-size: 20px;

            }
        </style>