@model IEnumerable<RecyclU.Models.Negocio>
@using RecyclU.Controllers;

@{
    if (ViewBag.User is Universidad)
    {
        ViewData["Title"] = "Ventas";
    }
    else if (ViewBag.User is Empresa)
    {
        ViewData["Title"] = "Compras";
    }
}
<title>@ViewData["Title"]</title>
<table class="table">
    <thead>
        <tr>
            @if (EmpresasController.empresa != null){
                <th>
                    @Html.DisplayNameFor(model => model.Universidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Universidad.Email)
                </th>
            }

            @if (UniversidadesController.universidad != null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Empresa)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Empresa.Email)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            @if (UniversidadesController.universidad != null && UniversidadesController.universidad.Email == item.UniversidadEmail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Material)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
           
                </tr>
            }
            else if (EmpresasController.empresa != null && EmpresasController.empresa.Email == item.EmpresaEmail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Universidad.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Universidad.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Material)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
