@model IEnumerable<RecyclU.Models.Negocio>
@using RecyclU.Controllers;

@{
    if (ViewBag.User is Universidad)
    {
        ViewData["Title"] = "Ventas";
    }
    else if (ViewBag.User is Empresa)
    {
        ViewData["Title"] = "Compras";
    }
}
<title>@ViewData["Title"]</title>

@if (EmpresasController.empresa != null)
{
    <h3 style="justify-content:center;align-items:center; text-align:center; color:#096297; "> Mis compras </h3>
}

@if (UniversidadesController.universidad != null)
{
    <h3 style="justify-content:center;align-items:center; text-align:center;  color:#096297;"> Mis ventas </h3>
}

<table class="table">
    <thead>
        <tr>
            @if (EmpresasController.empresa != null){
                <th>
                    @Html.DisplayNameFor(model => model.Universidad)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Universidad.Email)
                </th>
            }

            @if (UniversidadesController.universidad != null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Empresa)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Empresa.Email)
                </th>
            }

            <th>
                @Html.DisplayNameFor(model => model.Material)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Take(10)) {
            @if (UniversidadesController.universidad != null && UniversidadesController.universidad.Email == item.UniversidadEmail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Material)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>
           
                </tr>
            }
            else if (EmpresasController.empresa != null && EmpresasController.empresa.Email == item.EmpresaEmail)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Universidad.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Universidad.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Material)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Peso)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Monto)
                    </td>

                </tr>
            }
        }
        @if (Model.Count() > 10)
        {
            <td colspan="6">
                <a href="javascript:void(0);" id="verMasLink" onclick="toggleItems()">Ver más</a>
             </td>
        }

         @foreach (var (index, item) in Model.Skip(10).Select((value, index) => (index, value)))
         {
             <tr class="additionalItems" id="additionalItems_@index" style="display:none;">
                 @if (UniversidadesController.universidad != null && UniversidadesController.universidad.Email == item.UniversidadEmail)
                 {
                         <td>
                             @Html.DisplayFor(modelItem => item.Empresa.Nombre)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Empresa.Email)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Material)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Peso)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Monto)
                         </td>
                 }
                 else if (EmpresasController.empresa != null && EmpresasController.empresa.Email == item.EmpresaEmail)
                 {
                         <td>
                             @Html.DisplayFor(modelItem => item.Universidad.Nombre)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Universidad.Email)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Material)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Peso)
                         </td>
                         <td>
                             @Html.DisplayFor(modelItem => item.Monto)
                         </td>
                 }
             </tr>
             }
    </tbody>
</table>

<script>
    function toggleItems() {
        var additionalItems = document.querySelectorAll('.additionalItems');
        additionalItems.forEach(function (item) {
            item.style.display = item.style.display === "none" ? "table-row" : "none";
        });

        // Toggle the link text between "Ver más" and "Esconder"
        var verMasLink = document.getElementById('verMasLink');
        if (verMasLink) {
            verMasLink.innerText = verMasLink.innerText === "Ver más" ? "Esconder" : "Ver más";
        }
    }
</script>