@model RecyclU.Models.Post
@using RecyclU.Controllers

@{
    ViewData["Title"] = "RecyclU - Detatalles";
    Layout = "_Layout";
}
<div class="contenedor">
    <div class="post-details">
        <h5>Descripción</h5>
        @Html.DisplayFor(model => model.Descripcion)
        <br>
        <br>
        <h5>Material</h5>
        @Html.DisplayFor(model => model.Material)
        <br>
        <br>
        <h5>Peso</h5>
        @Html.DisplayFor(model => model.Peso) Toneladas
        <br>
        <br>
        <h5>Precio</h5>
        $@Html.DisplayFor(model => model.Precio)

        <div class="btns">
            @if (UniversidadesController.universidad != null)
            {
                <form asp-action="UniversidadPosts" method="get" class="d-inline-block ml-3">
                    <button type="submit" class="btn btn-primary btn-lg">Volver</button>
                </form>
            }
            @if (EmpresasController.empresa != null)
            {
                <ul>
                    <li>
                        <form asp-action="Index" method="get" class="d-inline-block ml-3">
                            <button type="submit" class="btn btn-primary btn-lg">Volver</button>
                        </form>
                    </li>
                    <li>
                        <form asp-controller="Negocios" asp-action="Create" method="get" class="d-inline-block ml-3">
                            <button type="submit" class="btn btn-outline-success">Comprar</button>
                        </form>
                    </li>
                </ul>
            }
        </div>
    </div>
    <div class="post-info">
        @if (UniversidadesController.universidad != null)
        {
            <a asp-area="" method="get" asp-action="Edit" asp-route-id="@Model.Id" class="config-icon">
                <img src="~/Imagenes/ConfiguracionIcono.png" class="config-icon-img" alt="Config" style="width:10%;height:8%;margin-top:15px" />
            </a>
        }
        <h5><b>@Html.DisplayFor(model => model.Universidad.Nombre)</b></h5>
        <img src=@Model.Imagen alt="Imagen" class="img_post" />
    </div>
</div>

